/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: auto

}

#quote, #title{
  text-align: center;
}

/* h1, h2, h3{
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  width: 75%; */ */
/* } */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
