/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

.zoom{
  display: block;
  margin: auto;
  transition: transform 0.5s ease-in-out
}

.zoom:hover{
  transform: scale(1.05)
}

/******************************************
/* LAYOUT
/*******************************************/
#quote, #title{
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
